In [1]:
import pandas as pd
import numpy as np

In [1]:
iris = pd.read_csv("iris(1).csv")
iris

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width    Species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [6]:
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix

In [3]:
ip_columns = ["Sepal.Length","Sepal.Width","Petal.Length","Petal.Width"]
ip_columns

['Sepal.Length', 'Sepal.Width', 'Petal.Length', 'Petal.Width']

In [4]:
op_column  = ["Species"]
op_column

['Species']

In [7]:
Xtrain,Xtest,ytrain,ytest = train_test_split(iris[ip_columns],iris[op_column],test_size=0.3)
Xtrain

     Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
53            5.5          2.3           4.0          1.3
77            6.7          3.0           5.0          1.7
131           7.9          3.8           6.4          2.0
51            6.4          3.2           4.5          1.5
103           6.3          2.9           5.6          1.8
..            ...          ...           ...          ...
6             4.6          3.4           1.4          0.3
67            5.8          2.7           4.1          1.0
111           6.4          2.7           5.3          1.9
86            6.7          3.1           4.7          1.5
99            5.7          2.8           4.1          1.3

[105 rows x 4 columns]

In [9]:
Xtest.shape
ytest.shape

(45, 1)

In [10]:
ignb = GaussianNB()
imnb = MultinomialNB()
pred_gnb = ignb.fit(Xtrain,ytrain).predict(Xtest)
pred_gnb

C:\python\anaconda3\lib\site-packages\sklearn\naive_bayes.py:206: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array(['virginica', 'virginica', 'versicolor', 'virginica', 'setosa',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'setosa',
       'virginica', 'virginica', 'setosa', 'setosa', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'virginica', 'setosa',
       'virginica', 'versicolor', 'virginica', 'versicolor', 'setosa',
       'virginica', 'virginica', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'setosa', 'virginica', 'setosa', 'setosa', 'setosa',
       'virginica', 'setosa', 'virginica', 'versicolor'], dtype='<U10')

In [11]:
pred_mnb = imnb.fit(Xtrain,ytrain).predict(Xtest)
pred_mnb.shape

C:\python\anaconda3\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

(45,)

In [14]:
confusion_matrix(ytest,pred_gnb)
ytest.shape

(45, 1)

In [13]:
pd.crosstab(ytest.values.flatten(),pred_gnb)

col_0       setosa  versicolor  virginica
row_0
setosa          14           0          0
versicolor       0          13          1
virginica        0           1         16

In [15]:
np.mean(pred_gnb==ytest.values.flatten())

0.9555555555555556

In [ ]:
ytest.values.flatten()
ytest.values.shape
pred_mnb.shape